* {
    font-family: 'Merriweather', serif;
    box-sizing: border-box;
}

body {
    max-width: 100vw;
}

label,
p {
    color: rgb(130, 130, 130);
}

header {
    background-color: rgb(44, 59, 71);
    padding: 15px;
    text-align: center;
}

header h1 {
    color: white;
}

legend {
    padding:  5%;
    font-weight: bold;
    font-size: 24px;
}

.container {
    padding: 5%;
}

.section-1 {
    text-align: center;
    margin-bottom: 25px;
}

.border {
    height: auto;
    width: 100%;
    border-top: 3px solid rgb(44, 59, 71);
    border-bottom: 1px solid rgb(44, 59, 71);
    padding: 2px;
}

.main-form label {
    display: block;
    margin-bottom: 5px;
    margin-top: 10px;
}

.main-form input, 
.main-form select {
    width: 92%;
    padding: 15px;
    border: none;
    border-radius: 5px;
    background: rgb(230, 230, 230);
    line-height: 1px;
}

.main-form select {
    max-width: 100%;
    width: 100%;
    color: rgb(130, 130, 130);
}

input[type=text],
input[type=tel],
input[type=email],
input[type=number],
select,textarea {
    width: 100%;
    text-align: right;
    transition-duration: 1000ms;
}


::placeholder {
    font-style: italic;
    padding-right: 3px;
}

input:focus, 
select:focus, 
textarea:focus {
    background: rgb(145, 138, 138);
    transform: scale(1.03);
}

hr {
    border: solid black 1px;
}

.secondary-form label {
    margin-left: 10px;
    margin-bottom: 10px;
    display: inline-block;
}

.secondary-form label:last-child {
    margin-left: 0;
}

.text-area {
    margin-top: 10px;
    margin-bottom: 25px;
}

textarea {
    max-width: 100%;
    border: none;
    border-radius: 5px;
    background: rgb(230, 230, 230);
    width: 100%;
    margin-top: 10px;
}

button {
    width: 100%;
    background: rgb(50, 203, 171);
    border: none;
    border-radius: 5px;
    color: white;
    padding: 25px;
    font-size: 24px;
}

.copy {
    text-align: center;
}

#zip {
    width: 50%;
}

.container {
    background: powderblue;
}

fieldset {
    border: none;
}

@media screen and (min-width: 768px) {
    .main-form label {
        display: inline-block;
        margin: 0 auto;
    }

    .container {
        margin: auto;
        padding-top: 50px;
    }

    .input-section{
        display: flex;
        flex-direction: row;
        flex-basis: 75%;
    }
    .main-form input, .main-form select {
        width: 70%;
    }

    .main-form select {
    box-sizing: inherit;
    }

    #zip {
        width: 25%;
        margin-right: 45%;
    }
}